*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 17%, rgba(37,74,153,0.9051995798319328) 86%, rgba(0,212,255,1) 100%);
}
.contact__2{
    border-radius: 20px;
}
#reservas{
    color:white;
}
#reservas:hover{
    color:gray;
}
.cuadro{
    resize: none;
}
.pst{
    margin-top: 5rem;
}